* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 62.5%;
}

body {
    background-color: lightgreen;
}

.container {
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;
    max-width: 500px;
    padding: 10px;
}

nav {
    font-size: 2rem;
}

.fondoGris {
    background-color: #262626;
}

.elementoNav {
    color: white;
}

.active {
    color: goldenrod;
}

.btn-success {
    background-color: #28a745;

    border-color: #28a745;
    color: black;
}